@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
    height: 100%
}
body {
    font-family: 'Nunito', sans-serif
}
#h100 {
    height: 100%
}
iframe {
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:none
}
@media (max-width:640px){
	.fb-post, .fb-post iframe, .fb-post span {
        width: 97% !important;
    }
}
@media (min-width:641px){
	.fb-post, .fb-post iframe, .fb-post span {
        width: 80% !important;
    }
}